.App {
  text-align: center;
}
.segments.word {
  border: none;
  box-shadow: none;
}
.word .segment {
  font-weight: bold;
}
.word .ui.horizontal.segments>.segment{
  border: none;
}
.word .segment:nth-child(2n){
  color: red;
}
.word .segment:nth-child(2n + 1){
  color: green;
}